body{
    font-family: Arial;
    margin:0;
    background:#f4f4f4;
}

header{
    background:#003366;
    color:white;
    padding:15px;
    text-align:center;
}

nav{
    background:#222;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    color:yellow;
}

.container{
    padding:30px;
}

footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:10px;
    position:fixed;
    width:100%;
    bottom:0;
}
